<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.bombtest">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/dao"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
                android:value="YH3rls5HHYtD4Y7ixNKLNZHxfSbRainu" />

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.example.administrator.bombtest.BmobContentProvider" />



        <activity
            android:name=".LoginByPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GroupDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginBySMSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreatedGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JoinGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JoinedGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GroupMemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManageGroupActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".GroupNoticeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".GroupRecordsActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".GroupSetActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>